body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
}

.filter-section {
  margin-top: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.filter-box {
  background-color: #ffff;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 13px 15px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.filter-box>option {
  font-size: 16px;
  color: #555;
  background-color: #ccc;
  padding: 13px 20px;
  border: 1px solid #232323;
}

.query-input-box {
  width: 100%;
  font-size: 16px;
  background-color: #ffff;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 13px 20px;
  border: 1px solid #ccc;
  max-width: 650px;
}

.query-input-box::placeholder {
  color: #232323;
  font-size: 14px;
  opacity: .4;
}

.list-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, max-content));
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}


.card-figure {
  margin: 0;
  border: 5px solid #ccc;
  border-radius: 4px;
}

.card-figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;

}

.card-caption {
  overflow: hidden;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
  margin-top: 5px;
  padding: 10px;
}


@media only screen and (max-width: 500px) {

  .list-movies,
  .filter-section {
    justify-content: center;
  }
}